Warzone 2100/
releases/
.idea/

python_helper_scripts/process_results/v3/
python_helper_scripts/process_results/v4/
python_helper_scripts/map_analysis/*.json
python_helper_scripts/map_analysis/*.png

spectate_map.bat
_internal/
__spectate_map.bat

tests/custom_test_map_packager/v4.7.0_base_maps/
tests/custom_test_map_packager/v4.7.0_base_maps_upto4p_short/
tests/custom_test_map_packager/v4.7.0_base_maps_upto6p_long/

*.odp
*.odp#
*.jsonl
*.json
!multiplay/skirmish/**/*.json
*.pyc
*.lprof
*.exe
.claude/
